services:
  cloud-midia-ui:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_TURNSTILE_PUB_KEY: ${VITE_TURNSTILE_PUB_KEY}
    container_name: vite-ui
    env_file:
      - .env
    restart: unless-stopped

  caddy:
    image: caddy:2-alpine
    container_name: cloud-midia-ui-caddy
    ports:
      - "80:80"   # HTTP (redirects to HTTPS)
      - "443:443" # HTTPS
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    depends_on:
      - cloud-midia-ui

volumes:
  caddy_data:
  caddy_config:
