services:
  cloud-midia-ui:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    container_name: cloud-midia-ui
    ports:
      - "5000:80"
    restart: unless-stopped
